.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.73);
}

.card-signin .card-title {
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.md-form input[type=text]:focus:not([readonly]),
.md-form input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #82f87d;
    box-shadow: 0 1px 0 0 #7ff8b8;
}
.md-form input[type=text]:focus:not([readonly])+label,
.md-form input[type=password]:focus:not([readonly])+label {
    color: #f87713;
}

.md-form .form-control {
    color: #0f13ff;
}