.page {
    margin: 0;
    padding: 0;
}

.card {
    border: none;
    border-radius: 0;
}

.card-image{
    height: 46vmax;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron{
    margin: 0 0 0 0;
}

.popular-container {
    background-color: #2a9d8f;
    font-weight: bold;
}

.new-container {
    background-color: #e9c46a;
    font-weight: bold;
}

.best_seller-container {
    background-color: #f4a261;
    font-weight: bold;
}

.promo-container {
    background-color: #e7c1ba;
    font-weight: bold;
}

.column-inner h3 {
    font-weight: bold;
    color: #161616;
}