@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

/*body {*/
/*    color: #757575;*/
/*    background: #edf3f4;*/
/*    font-family: "Montserrat", sans-serif;*/
/*    font-size: 14px;*/
/*    font-weight: normal;*/
/*    line-height: 1.5;*/
/*}*/


a, a:hover, Link {
    text-decoration: none;
    color: rgba(11, 11, 11, 0.47);
}

a:hover, Link:hover{
    color: rgba(255, 69, 0, 0.66);
}

/** Separator **/
.my-separator {
    background: linear-gradient(271deg, #9341d9, #f08f6a, #6ec9c9, #f3f9f0);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:46% 0%}
    50%{background-position:55% 100%}
    100%{background-position:46% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:46% 0%}
    50%{background-position:55% 100%}
    100%{background-position:46% 0%}
}
@keyframes AnimationName {
    0%{background-position:46% 0%}
    50%{background-position:55% 100%}
    100%{background-position:46% 0%}
}